<section>
    <h1>Do you really want to delete the values ​​below?</h1>
    <form action="/delete" method="post">
        <input type="hidden" name="id" id="id" value="{{employee.id}}">
        <label for="name">
            Name: <input type="text" name="name" id="name" value="{{employee.name}}" disabled>
        </label>

        <label for="sector">
            Sector: <input type="text" name="sector" id="sector" value="{{employee.sector}}" disabled>
        </label>
        
       
        <div class="buttons">
                <button type="submit">Yes, I Want</button>
                <button type="button"><a href="/">Cancel</a></button>
        </div>
    </form>
</section>