<section>
    <h1>Update Employee</h1>
    <form action="/employee/update" method="post">

        <input type="hidden" name="id" id="id" value="{{employee.id}}">
        <label for="name">
            Name: <input type="text" name="name" id="name" value={{employee.name}} placeholder="Name of employee">
        </label>

        <label for="sector">
            Sector : 
            <input type="radio" name="sector" id="adm" value="adm" {{#if (ifeq employee.sector 'adm')}} checked {{/if}}> ADM
            <input type="radio" name="sector" id="mechanics" value="mechanics" {{#if (ifeq employee.sector 'mechanics')}} checked {{/if}}> Mechanics
            <input type="radio" name="sector" id="sales" value="sales" {{#if (ifeq employee.sector 'sales')}} checked {{/if}}>Sales
        </label>

       <div class="buttons">
                <button type="submit">Save</button>
                <button type="button"><a href="/employee/show">Cancel</a></button>
        </div>
    </form>
</section>