#home-h1{
    color: #333;
}
#home-section{
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
#home-section > :last-child{
    overflow-y: scroll;
    max-height: 100%;
}
#home-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}
th, td {
    border: 1px solid #ddd; /* Borda cinza */
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2; /* Cinza Claro */
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
