#home-h1{
    color: #333;
}
#home-section{
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
#home-section > :last-child{
    overflow-y: scroll;
    max-height: 100%;
}
#home-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

}
th, td {
    border: 1px solid #ddd; /* Gray Border */
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2; /* Light Gray */
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

a.disable-link{
    pointer-events: none; 
    cursor: default;       
    color: gray;           
    text-decoration: none
}
.disable-link > td > a {
    pointer-events: none; 
    cursor: default;       
    text-decoration: none
}
.disable-link > td > a > svg {
    path, polyline{
        /* svg update icon */
        stroke: gray !important;
    };
    g{
        /* svg delete icon */
        fill: gray !important;
    }
}
.disable-link > td:nth-last-child(-n+2){
    background: rgba(0, 0, 0, 0.035);
}
#btn-logout, #btn-show-users{
    border: none;
    border-radius: 5px;
    padding: 10px;
}
#btn-logout{
    background-color: #F44336;
    color: #F5F5F5;
}
#btn-show-users{
    background-color:#2196F3 ;
    color: #F5F5F5;
}

#btns-show-all{
    position: absolute;
    right: 0;
}
